.parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

    .about-container{
        padding: 80px;
    }

    .div1 h2 {
        padding: 32px 0;
        font-size: 36px;
        font-weight: 500;
    }

    .div1 h4 {
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .div1 h2 span {
        border-bottom: 2px solid black;
    }

    .div1 p {
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
    }
    .download a{
        text-decoration: none;
    }
    .download a h2 {
        text-decoration: none;
        color: #4c4c4c;
        font-size: 20px;
        font-weight: 500;
    }

    .image-div{
        padding: 15px;
    }

    .image-div img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: 0 10px;
        border-radius: 10px;
    }